doctype html
html
  head
    meta(charset='utf8')
    title main page
    link( rel='stylesheet' type='text/css' href='/mainstyle.css')
  body
    div(class='container')
      header(class='container_header')
        h1(class='container_header_h1')
          a(href='/' class='container_header_h1_a') 블로그
          div(class='container_header_div')

      div(class='slide')
                              ul(class='hide')
                                div(class='hh')
                                  li(class='slide_li')
                                    a(href='/user/logout' class='content_nav_p_a1') logout
                                  li(class='slide_li')
                                    a(href='/mypg' class='content_nav_p_a1') mypage
                                  li(class='slide_li')
                                    a( class='container_header_h1_a_12_chat') 채팅

      div(class='content2')
                    a(href='/main' class='content2_a') 게시판
                    a(href='/image' class='content2_a') 갤러리


      section(class='content_login')
        div(class='login_form')
          form(action='/user/join' method='post')
            p
              div(class='join_form') 아이디
              p
               input(type='text' name='user_id' placeholder='id' class='login_input')
            p
              div(class='join_form') 비밀번호
              p
                input(type='password' name='user_password' placeholder='password' class='login_input')
            p
              div(class='join_form') 닉네임
              p
                input(type='text' name='user_nickname' placeholder='nickname' class='login_input')
            p
              input(type='submit' value='회원가입' class='join_button')

          main(class='main_from')
